.header{
    text-align: center;
    color: rgb(255, 255, 255);
    display: inline-block;
    background-color: crimson;
    padding: 1vmax 5vmax;
    margin-top: 0.5vmax;
    border-radius: 1vmax;
    font-size: 1.5vmax;
    font-family: 'Roboto';
    font-weight: bold;
}